traefik:
  deployment:
    kind: DaemonSet
  ports:
    websecure:
      hostPort: 443
    web:
      hostPort: 80
  logs:
    general:
      level: INFO
  tlsStore:
    default:
      defaultCertificate:
        secretName: kbm-obmondo-com
  service:
    type: NodePort
    externalIPs:
      - 95.216.30.44
  additionalArguments:
    - '--providers.kubernetesingress.ingressclass=traefik-cert-manager'
    - '--entrypoints.websecure.http.tls'
    - '--metrics.prometheus=true'
  # https://github.com/argoproj/argo-cd/issues/1704#issuecomment-904741817
  providers:
    kubernetesCRD:
      enabled: true
      allowCrossNamespace: true
    kubernetesIngress:
      publishedService:
        enabled: true


wildcardCertificates:
  enabled: true
  issuer: letsencrypt
  domains:
    - "*..obmondo.com"
