global:
  clusterName: backup-server
  kubernetes:
    version: v1.34.2
  kubeaid:
    repo: https://github.com/Obmondo/KubeAid
  kubeaidConfig:
    repo: https://github.com/asifulhaque786/kubeaid-config
  additionalUsers: 
    []
provider:
  hetzner: true

hetzner:
  mode: bare-metal
  bareMetal:
    wipeDisks: false
    sshKeyPair:
      name: cluster
    installImage:
      imagePath: /root/.oldroot/nfs/images/Ubuntu-2404-noble-amd64-base.tar.gz
    diskLayoutSetupCommands: |
      
      apt-get update -y
      apt install zfsutils-linux -y
      
      sgdisk -n 4:0:0 -t 4:fd00 -c 4:"zpool" /dev/sda
      partprobe /dev/sda
      sgdisk -n 4:0:0 -t 4:fd00 -c 4:"zpool" /dev/sdb
      partprobe /dev/sdb
      udevadm settle
      
      if zpool import -f primary >/dev/null 2>&1; then
        echo "Imported existing primary ZPool"
      else
        zpool create primary mirror /dev/sda4 /dev/sdb4 mirror /dev/sdc /dev/sdd
      
        zfs create -s -V 100G primary/containerd
        udevadm settle
        mkfs.ext4 /dev/zvol/primary/containerd
      
        zfs create -s -V 50G primary/pod-ephemeral-volumes
        udevadm settle
        mkfs.ext4 /dev/zvol/primary/pod-ephemeral-volumes
      
        zfs create -s -V 50G primary/pod-logs
        udevadm settle
        mkfs.ext4 /dev/zvol/primary/pod-logs
      fi
      
      mkdir -p /var/lib/containerd
      echo "/dev/zvol/primary/containerd /var/lib/containerd ext4 defaults,nofail 0 0" \
      | tee -a /etc/fstab
      mount /var/lib/containerd
      
      mkdir -p /var/lib/kubelet/pods
      echo "/dev/zvol/primary/pod-ephemeral-volumes /var/lib/kubelet/pods ext4 defaults,nofail 0 0" \
      | tee -a /etc/fstab
      mount /var/lib/kubelet/pods
      
      mkdir -p /var/log/pods
      echo "/dev/zvol/primary/pod-logs /var/log/pods ext4 defaults,nofail 0 0" | tee -a /etc/fstab
      mount /dev/zvol/primary/pod-logs /var/log/pods
      
      # Enable weekly ZPool trimming for the ZPool.
      # So unused storage space will be reclaimed back, from the ZVolumes into the ZPool.
      # REFER : https://openzfs.github.io/openzfs-docs/man/master/8/zpool-trim.8.html.
      systemctl enable zfs-trim-weekly@rpool.timer --now
      

  controlPlane:
    regions: 
      - fsn1
      - nbg1
      - hel1

    
    bareMetal: 
      endpoint:
        isFailoverIP: false
        host: 195.201.109.239
      bareMetalHosts:
        - serverID: "2845449"
          wwns:
            - "0x5000c500b39edb52"
            - "0x5000c500b3a48a7f"
      diskLayoutSetupCommands: ""

    

  nodeGroups: 
    hcloud: []
    bareMetal: []
